extend layout
block content
  form(method="post")
    input(name="str", placeholder="enter one word here")
  p.
    This is a simple web application to display tweets based on search queries. It currently only works with one search term, but should be expanded upon at a later date. Still working with color schemes, so watch this space!