doctype html
head
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel="stylesheet" href="/public/stylesheets/custom.css")

body
  header
    h1 A(n)Tweet

  div(class="container")
  div(class="main-content")
    h2.
      Type in your search term and watch the magic!
    form(method="post")
      input(name="str" placeholder="type your search term here")
