doctype html
<head>
<title>Express - My Sandbox</title>
<meta name='viewport', content='width=device-width, initial-scale=1'>
<link rel="stylesheet" href="/public/stylesheets/custom.css">
</head>
<body>
<header>
<h1>AnTweet</h1>
</header>

<div class="container">
<div class="main-content"><p>This is a test to fetch tweets and output
into the screen. Type in your search term and watch the magic!</p>
<form method="post">
<input name="str" placeholder="type your search term here">
</form>
</div>
</div>


</body>
