doctype
html
  head
    title #{title} - Testerson
    link(rel='stylesheet', href='/stylesheets/custom.css')
  body
    header
      h1 Test Page
      form(method="post")
        input(name="str" class="take")
    footer
      p(class="res") This is le footer!!!