doctype
html
  head
    title #{title} - AnTweet
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/custom.css')
  body
    header
      h1 AnTweet
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p #{string}