doctype
html
  head
    title #{title} - Results Page
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/custom.css')
  body
    header(class="res")
      h1.res Results, son!
    footer #{string}
