doctype html
head
  meta(name='viewport', content='width=device-width, initial-scale=1')
  script(src="/public/javascripts/jquery-1.11.3.min.js")
  script.
    $(document).ready(function() {
      $("li").html(function(i,t) {
          return t.replace(' the ', ' ___ ');
      });
      $("li").html(function(i,t) {
          return t.replace(' an ', ' ___ ');
      });
      $("li").html(function(i,t) {
          return t.replace(' a ', ' ___ ');
      });
    });
  link(rel="stylesheet" href="/public/stylesheets/custom.css")

body
  header
    h1 AnTweet
  div(class="container")
    div(class="main-content")
    div(class="tweet-content")
      ul#list
        each i in string
          li.res= i