body {
  font-family: 'Georgia';
  background-color: #e6dae1;
  color: #444;
}
header {
  font-family: 'Quicksand';
  padding: 50px 10px;
  color: #fff;
  font-size: 25px;
  text-align: center;
/*
   * Note the use of the `main-color`
   * variable and the `darken` function
   */
  background-color: #ff4719;
  border-bottom: 1px solid #c42700;
  text-shadow: 0px -1px 0px #c42700;
}
.container {
  width: 500px;
  margin: 50px auto;
  overflow: hidden;
}
.main-content {
  float: left;
  width: 300px;
}
.main-content p {
  margin-bottom: 20px;
}

.blarg {
  color: #e6dae1;
}

.flerg {
  color: #ff4719;
}